@using Microsoft.AspNetCore.Mvc.Controllers
@using Mindbite.Mox.UI.Menu
@using Mindbite.Mox.Extensions
@using System.Reflection
@using System.Linq
@using Microsoft.Extensions.Localization;
@using Mindbite.Mox.UI
@inject Microsoft.Extensions.Options.IOptions<Mindbite.Mox.Configuration.Config> Config
@inject IStringLocalizer localizer

@{
    var includeCurrentMenu = false;
    try
    {
        includeCurrentMenu = Model.IncludeCurrentMenu;
    }
    catch { }
    var currentApp = Config.Value.Apps.FirstOrDefault(x => x.Areas.Contains((string)this.ViewContext.RouteData.Values["Area"]));
    var roles = await Html.Mox().GetRolesAsync();
    var selectedMenu = currentApp?.Menu.Build(Url, roles).Flatten().LastOrDefault(x => x.MatchesView(this.ViewContext));
    var parents = includeCurrentMenu ? selectedMenu.AllParents : selectedMenu.Parent?.AllParents ?? new List<MenuItem>();
    var localizer = Html.Mox().Localizer;
}

<ul class="mox-breadcrumbs">
    <li><a href="@Url.AppAction(currentApp, roles)">@localizer[currentApp.Name]</a></li>
    @foreach (var parent in parents)
    {
        <li><a href="@Url.MenuAction(parent, roles)">@localizer[parent.Title]</a></li>
    }
</ul>