@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@model Mindbite.Mox.UI.IDataTable
@{
    Layout = "Mox/_Layout";
}

@await Html.PartialAsync("Mox/UI/AppBreadCrumbs")

<h1>Notiser</h1>

@await Html.PartialAsync("Mox/UI/DataTable", Model)