@using Microsoft.Extensions.Localization;
@using Mindbite.Mox.Extensions;

@{ 
    Layout = "Mox/Email/_Layout";
}

@model Mindbite.Mox.Identity.ViewModels.AccountViewModel.MagicLinkEmailViewModel
@inject IStringLocalizer localizer

<h2>@localizer["Direktinloggning"]</h2>

@await Html.PartialAsync("Mox/Email/_Button", new { Url = @Url.Action("MagicLinkLogIn", "LogIn", new { Model.MagicToken, Model.RememberMe, Model.ReturnUrl }, Context.Request.Scheme), Title = @localizer["Logga in"] }.ToExpando())
