.mox-header-right-menu-item .identity-menu { top: initial; right: initial; left: 5px; bottom: 50px; }
.mox-header-right-menu { height: 50px; }
.mox-header-right-menu-list { height: 50px; }
.mox-header-right-menu-item .identity { width: 40px; height: 40px; line-height: 40px; }
