@using Mindbite.Mox.Extensions
@{
    Layout = (string)ViewData["Layout"];
}

@if ((bool)ViewData["RenderBreadCrumbs"])
{
    @await Html.PartialAsync("Mox/UI/AppBreadCrumbs", new { IncludeCurrentMenu = true }.ToExpando())
}

<h1>Skapa @ViewData["ModelDisplayName"]?.ToString().ToLower()</h1>
@await Html.PartialAsync("Mox/UI/Message")

@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @await Html.PartialAsync("_Form_Fields", (object)Model)
    </fieldset>

    <fieldset class="buttons">
        <input type="submit" value="Skapa @ViewData["ModelDisplayName"]?.ToString().ToLower()" />
    </fieldset>
}