@using Mindbite.Mox.Extensions
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer localizer
@{
    Layout = (string)ViewData["Layout"];
}

@if ((bool)ViewData["RenderDefaultCreateHeader"])
{
    @if(!Context.Request.IsAjaxRequest())
    {
        @await Html.PartialAsync("Mox/UI/AppBreadCrumbs", new { IncludeCurrentMenu = true }.ToExpando())
    }
    <h1>@localizer["Skapa {0}", ViewData["ModelDisplayName"]?.ToString().ToLower()]</h1>
    @await Html.PartialAsync("Mox/UI/Message")
}

@if (!string.IsNullOrWhiteSpace((string)ViewData["CreateHeaderPartial"]))
{
    @await Html.PartialAsync((string)ViewData["CreateHeaderPartial"], (object)Model)
}

@using (Html.BeginForm(FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        @await Html.PartialAsync("_Form_Fields", (object)Model)
    </fieldset>

    <fieldset class="buttons">
        <p>
            <input type="submit" value="@localizer["Skapa {0}", ViewData["ModelDisplayName"]?.ToString().ToLower()]" />
        </p>
    </fieldset>
}