@using Mindbite.Mox.Extensions
@using Microsoft.Extensions.Localization;
@{
    Layout = "Mox/_Layout";
}
@model Mindbite.Mox.UI.IDataTable
@inject IStringLocalizer localizer

@Html.Partial("Mox/UI/AppBreadCrumbs", new { IncludeCurrentMenu = false }.ToExpando())

<h1>@localizer["Inloggningskonton"]</h1>

<p>
    @Html.ActionLink(localizer["Skapa ny"], "Create", null, null, new { @class = "mox-button" })
</p>

@await Html.PartialAsync("Mox/DataTable", Model)