@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@model Mindbite.Mox.UI.IDataTable
@{
    Layout = "Mox/_Layout";
}

@await Html.PartialAsync("Mox/UI/AppBreadCrumbs")

<h1>Mina designs</h1>

<p>
    @Html.ActionLink("Skapa ny", "Create", null, null, new { @class = "mox-button", onclick = "openModalForm(this, event)" })
</p>

<div id="js-table"></div>

<script>
    var dataTable = null;
    
    function openModalForm(sender, event) {
        event.preventDefault();

        Mox.UI.Modal.createFormDialog(sender.href, {
            onButtonClicked: function(modal, button, event) {
                if(button.tagName === 'A') {
                    modal.replaceContent(button.href);
                }
            },
            onSubmit: function(modal, form, event) {
                console.log(modal, form, event);
                dataTable.refresh();
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        Mox.UI.DataTable.create({
            container: document.getElementById('js-table'),
            url: '@Url.Action("Table")',
            onRenderComplete: function(dataTable) {
                var editButtons = Mox.Utils.DOM.collectionOfToArray(dataTable.containerElement.querySelectorAll('.mox-datatable td a'));
                editButtons.forEach(function (button) {
                    button.addEventListener('click', function (event) { openModalForm(button, event) });
                });
            }
        }).then(function(_dataTable) {
            dataTable = _dataTable;
        });
    });
</script>