.multi-image-container {  }
.multi-image-list { display: flex; flex-wrap: wrap; margin: 0 -10px; padding: 0; }
.multi-image-item { margin: 10px; display: flex; flex-direction: column; width: 150px; min-height: 150px; }
.multi-image-label { cursor: pointer; text-align: center; position: relative; display: flex; max-height: 150px; flex-direction: column; flex: 1; align-items: center; justify-content: center; border-radius: 5px; border: 2px dashed #999; }
.multi-image-label:hover { border-color: #333; text-decoration: underline; }
.multi-image-size-label { font-size: 11px; }
.multi-image-input { position: absolute; visibility: hidden; left: 0; right: 0; top: 0; bottom: 0; }
.multi-image-image-wrapper { padding: 10px; border-radius: 5px; border: 1px solid #ccc; flex: 1; height: 150px; }
.multi-image-image { width: 100%; height: 100%; object-fit: contain; }
.multi-image-buttons { display: flex; justify-content: center; }
.multi-image-buttons .mox-button { margin: 5px 2px; }

.multi-file-container { margin: 1em 0; }
.multi-file-list { list-style: none; margin-bottom: 1em; padding: 0; }
.multi-file-item { border: 1px solid #ccc; border-top: 0; display: flex; }
.multi-file-item:first-of-type { border-top-left-radius: 5px; border-top-right-radius: 5px; border-top: 1px solid #ccc; }
.multi-file-item:last-of-type { border-bottom-left-radius: 5px; border-bottom-right-radius: 5px; margin-bottom: 5px; }
.multi-file-item-title { padding: 5px 8px; display: block; }
.multi-file-label > span { display: block; margin-bottom: 3px; }
.multi-file-file-wrapper { flex: 1; display: flex; align-items: center; }
.multi-file-buttons { display: flex; justify-content: flex-end; padding: 2px 6px; }
.multi-file-buttons .mox-button { margin: 0px 2px; }

.single-image-image-container { padding: 10px; margin: 10px 0; border: 1px solid #eee; border-radius: 5px; }