html, body { height: unset; overflow: unset; }

.mox-header { height: 50px; }
.mox-header-menu-container { background-color: white; position: fixed; top: 0; left: -260px; width: 260px; bottom: 0; z-index: 1000; transition: ease .2s left; }
.mox-header-menu-container.open { left: 0; }

.mox-header-right-menu { position: absolute; bottom: 0; left: 0; right: 0; }
.mox-header-logo { color: black; display: block; border-bottom: 1px solid #eee; float: unset; font-size: 20px; line-height: unset; height: unset; padding: 16px 0; margin: 0 16px; margin-bottom: 16px; }

.mox-menu-background { position: fixed; visibility: hidden; top: 0; left: 0; right: 0; bottom: 0; z-index: 999; background-color: rgba(0, 0, 0, 0.15); opacity: 0; transition: ease .2s opacity; }
.mox-menu-background.visible { opacity: 1; visibility: visible; }

.mox-header-menu-container .mox-menu { float: unset; }
.mox-header-menu-container .mox-menu li { float: unset; }
.mox-header-menu-container .mox-menu li a { padding: 0 16px; color: #000; border-left: 3px solid transparent; display: block; }
.mox-header-menu-container .mox-menu li a.selected { border-left: 3px solid #000; }

.mox-header-sub-menu .mox-menu li { display: inline-block; float: unset; }
.mox-header-sub-menu .mox-menu li a { height: 36px; }
.mox-header-sub-menu { height: 40px; overflow-y: hidden; }
.mox-header-sub-menu .mox-menu { margin: 0 16px; overflow-x: scroll; height: 100px; white-space: nowrap; }

.mox-content-scroll-wrapper { height: unset; overflow: unset; overflow-x: auto; -webkit-overflow-scrolling: touch; }
.mox-content-wrapper { height: unset; }
.mox-content { padding: 16px; padding-bottom: 100px; }

.mox-side-menu { height: unset; width: unset; display: block; float: unset; border: 0; padding-top: 16px; border-bottom: 1px solid #eee; }
.mox-side-menu .app-title { display: none; }

.mox-header-mobile-app-name { line-height: 50px; color: white; margin: 0 16px; display: block; white-space: nowrap; }

.mox-modal .mox-modal-content, .mox-modal .mox-modal-wrapper { margin: 0; border-radius: 0; width: 100%; max-width: unset; max-height: unset; height: 100%; }
.mox-modal-content { width: 100%; }