@inject Microsoft.Extensions.Options.IOptions<Mindbite.Core.Mox.Configuration.Config> Config

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <link href="~/static/identity/css/base.css" rel="stylesheet" />
        <link href="~/static/identity/css/base_mobile.css" rel="stylesheet" media="screen and (max-width: 960px)" />
    </head>
    <body>
        <div class="mox-login-background-overlay">
            <div class="mox-login">
                <div class="logo">@Config.Value.SiteTitle</div>
                @RenderBody()
            </div>
        </div>
        @RenderSection("scripts", required: false)
    </body>
</html>