@using Microsoft.Extensions.Localization;
@{
    Layout = "Mox/LogIn/_Layout";
}
@inject IStringLocalizer localizer

<fieldset>
    <h2>@localizer["Din magiska länk har skickat!"]</h2>
    <p>@localizer["Länken är giltig i {0} minuter.", 5]</p>
</fieldset>