@model IEnumerable<Mindbite.Mox.Configuration.Apps.AppPartial>

@if (Model.Any())
{
    <ul class="mox-header-right-menu-list">
        @foreach (var partial in Model)
        {
            <li class="mox-header-right-menu-item">@await Html.PartialAsync(partial.Name)</li>
        }
    </ul>
}